.main-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 95vh;
    width: 90vw;
    background-color: #1D97C1;
    border-radius: 30px;
    position: relative;
}

.page-content-container {
    background-color: #E1EDF6;
    height: 91vh;
    width: 75%;
    margin-top: 1rem;
    border-radius: 30px;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .page-content-container {
        width: 95%;
        height: calc(100% - 4rem); /* Adjust height considering hamburger icon */
        margin: 4rem 0.5rem 0.5rem 2.5%;
        border-radius: 10px;
    }
}
